.form {
    width: 570px;

    label {
        color: #5B5B5B;
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
    }

    input {
        color: #5B5B5B;
        font-size: 18px;
        line-height: 22px;
        padding: 23px 25px;
        border-radius: 16px;

        &:focus {
            border: 1px solid #87D78B;
            outline: 0;
            box-shadow: none;
        }

        &.is-invalid {
            background: none;
            border: 1px solid #D23737;
            color: #D23737;
            padding-right: initial;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .invalid-feedback {
        font-size: 16px;
        line-height: 20px;
        color: #D23737;
        margin-top: 12px;
    }

    .form-label {
        margin-bottom: 12px;
    }

    .form-group {
        margin-bottom: 30px;
    }

    &_wrapper {
        background: #FFFFFF;
        box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.05);
        border-radius: 16px;
        padding: 30px 35px 35px;
    }

    &_heading {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 80px;
            height: 80px;
        }

        h3 {
            color: #5B5B5B;
            font-size: 24px;
            font-weight: bold;
            line-height: 29px;
            margin: 24px 0 35px 0;
        }
    }

    &_gender {
        &_cardsWrapper {
            display: flex;
            justify-content: space-between;

            label {
                cursor: pointer;
            }

            input {
                position: absolute;
                visibility: hidden;
            }
        }
    }

    &_password {
        &-inputWrapper {
            position: relative;
        }

        &-showIcon {
            background: none;
            position: absolute;
            right: 24px;
            top: 20px;
        }

        &-showIcon.active {
            path {
                fill: #3c9e41;
            }
        }
    }

    &_submit_btn {
        background: #3C9C41;
        border: none;
        border-radius: 16px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        padding: 24px;
        width: 100%;

        &:hover {
            background: #4DB252;
        }

        &:active,
        &:focus {
            background: #318636;
        }
    }

    &_footer {
        p {
            color: #5B5B5B;
            font-size: 18px;
            line-height: 22px;
            margin: 0;
            text-align: center;

            &:first-child {
                margin-bottom: 20px;
            }

            a {
                font-weight: bold;
                color: #3C9C41;
            }
        }
    }
}

@media (max-width: 699px) {
    .form {
        width: 340px;

        .invalid-feedback {
            font-size: 14px;
            line-height: 18px;
            margin-top: 8px;
        }

        .form-label {
            margin-bottom: 8px;
        }

        .form-group {
            margin-bottom: 20px;

            &.submit-group {
                margin-bottom: 16px;
            }
        }

        label {
            font-size: 16px;
            line-height: 20px;
        }

        input {
            color: #5B5B5B;
            font-size: 16px;
            line-height: 20px;
            padding: 14px 18px;
        }

        &_wrapper {
            padding: 25px 16px 18px;
        }

        &_heading {
            img {
                width: 55px;
                height: 55px;
            }

            h3 {
                margin: 21px 0 24px;
            }
        }

        &_password {
            &-showIcon {
                right: 15px;
                top: 10px;
            }
        }

        &_submit_btn {
            font-size: 16px;
            padding: 15px;
            line-height: 20px;
        }

        &_footer {
            p {
                font-size: 14px;
                line-height: 17px;

                &:first-child {
                    margin-bottom: 16px;
                }
            }
        }
    }
}